body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom, #d8f1cf, #80a283);
    color: #1c7a09;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Kart Ana Konteyneri */
.card-container {
    width: 300px;
    height: 400px;
    position: relative;
    perspective: 1000px;
}

/* Login ve Register yüzü */
.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    box-shadow: #28a745 0px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    backface-visibility: hidden;
    transition: transform 0.6s;
    background-color: #7bd68f;
    backdrop-filter: blur(120px);
    padding: 30px;
    backdrop-filter: blur(50px);
    border: 5px solid rgba(255, 255, 255, 0.5);
}

/* Login yüzü */
.login-container {
    transform: rotateY(0deg);
}

/* Register yüzü */
.register-container {
    transform: rotateY(180deg);
}

/* Kartı döndürme efekti */
.card-container.flip .login-container {
    transform: rotateY(180deg);
}

.card-container.flip .register-container {
    transform: rotateY(360deg);
}

/* Input alanları */
.input-fields { 
    width: 200px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-bottom: #6e6c6c67 2px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: 0.5s;
}
/* Buton */
.loginbtn {
    padding: 10px;
    color: aliceblue;
    background-color: #5a67d8;
    border-radius: 10px;
    width: 50%;
    height: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.loginbtn p {
    margin: 0%;
}
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn25 {
    background-image: linear-gradient(
        to right,
        #29323c,
        #485563,
        #2b5876,
        #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.container {
    justify-content: center;
    align-items: center;
}